#title {
    display: flex;
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about {
    display: flex;
    color: beige;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}