<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
</head>

<body>
    <div id="title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <a href="{{web}}">{{web}}</a>
    </div>
    <article class="about">
        <h2>Sobre Mì</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, quia assumenda, tempore quae placeat
            repudiandae iusto aliquid, deserunt a hic ducimus possimus. Facilis autem asperiores dolorem eligendi earum
            cum dicta dolorum, saepe error quam inventore odit dolores velit impedit? Aut nulla expedita deserunt esse
            odio modi maxime hic pariatur ad, laudantium non exercitationem inventore doloremque explicabo praesentium
            velit labore autem rerum doloribus recusandae. Et quisquam voluptatem dolor ducimus repellat? Harum officiis
            exercitationem obcaecati consequuntur quo commodi corrupti minus accusamus est.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, quia assumenda, tempore quae placeat
            repudiandae iusto aliquid, deserunt a hic ducimus possimus. Facilis autem asperiores dolorem eligendi earum
            cum dicta dolorum, saepe error quam inventore odit dolores velit impedit? Aut nulla expedita deserunt esse
            odio modi maxime hic pariatur ad, laudantium non exercitationem inventore doloremque explicabo praesentium
            velit labore autem rerum doloribus recusandae. Et quisquam voluptatem dolor ducimus repellat? Harum officiis
            exercitationem obcaecati consequuntur quo commodi corrupti minus accusamus est.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, quia assumenda, tempore quae placeat
            repudiandae iusto aliquid, deserunt a hic ducimus possimus. Facilis autem asperiores dolorem eligendi earum
            cum dicta dolorum, saepe error quam inventore odit dolores velit impedit? Aut nulla expedita deserunt esse
            odio modi maxime hic pariatur ad, laudantium non exercitationem inventore doloremque explicabo praesentium
            velit labore autem rerum doloribus recusandae. Et quisquam voluptatem dolor ducimus repellat? Harum officiis
            exercitationem obcaecati consequuntur quo commodi corrupti minus accusamus est.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, quia assumenda, tempore quae placeat
            repudiandae iusto aliquid, deserunt a hic ducimus possimus. Facilis autem asperiores dolorem eligendi earum
            cum dicta dolorum, saepe error quam inventore odit dolores velit impedit? Aut nulla expedita deserunt esse
            odio modi maxime hic pariatur ad, laudantium non exercitationem inventore doloremque explicabo praesentium
            velit labore autem rerum doloribus recusandae. Et quisquam voluptatem dolor ducimus repellat? Harum officiis
            exercitationem obcaecati consequuntur quo commodi corrupti minus accusamus est.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, quia assumenda, tempore quae placeat
            repudiandae iusto aliquid, deserunt a hic ducimus possimus. Facilis autem asperiores dolorem eligendi earum
            cum dicta dolorum, saepe error quam inventore odit dolores velit impedit? Aut nulla expedita deserunt esse
            odio modi maxime hic pariatur ad, laudantium non exercitationem inventore doloremque explicabo praesentium
            velit labore autem rerum doloribus recusandae. Et quisquam voluptatem dolor ducimus repellat? Harum officiis
            exercitationem obcaecati consequuntur quo commodi corrupti minus accusamus est.
        </p>
    </article>
</body>

</html>