@font-face{
    font-family: "AlexBrush";
    src: url("fonts/AlexBrush.ttf");
}

@font-face{
    font-family: "Aqilo";
    src: url("fonts/Aquilo.ttf");
}

@font-face{
    font-family: "Lobster";
    src: url("fonts/Lobster.ttf");
}


/*Generales*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Lobster", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url("../img/zeller.jpg");
    background-attachment: fixed;
}
.clearfix{
    float: none;
    clear: both;
}

/*Barra de navegacion / cabecera*/

header{
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53, 255, 55, 0.3);
    position: fixed;
    text-transform: uppercase;
}
header ul{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    width: 40%;
    height: inherit;
    margin: 0px auto;
}

header ul li {
    display: inline-flex;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

li a{
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header a:hover, .actived{
    box-shadow:  inset 0 0 5px white;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* LOGO */
#logo{
    font-family: "Aqilo", Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: aliceblue;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
#logo a{
    transition:color 400ms, trasform 400ms;
}

#logo a:hover{
    box-shadow: 0 0 0;
    background: transparent;
    transform: scale(1.40,1.40);
}

/*Contenedor Principal*/

#content{
    min-height: 700px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0 0 40px black;
    background: rgba(133, 210, 216, 0.5);
    padding-top: 150px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/*Pie de Pagina*/
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(250, 250, 250, 0.5);
}


/*sobre Mi*/

#title{
    width: 70%;
    color: seashell;
    text-shadow: 0 0 3px #01b947, 0 0 5px #23a3ca;
    margin: 0px auto;
    text-align: center;
}

#title h1{
    font-family: "AlexBrush", Arial, Helvetica, sans-serif;
    font-size: 60px;
    border-bottom: 1px solid slategray;
}

#title h2{
    font-size: 25px;
    color: thistle;
    margin-top: 50px;
}

article.about{
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}
.about h2{
    color: rgb(229, 230, 223);
    text-shadow: 0 0 3px rgb(1, 117, 27);
    border-bottom: 1px solid slategray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    color: rgb(237, 238, 224);
    text-shadow: 0 0 3px rgb(1, 117, 27);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}