.container {
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    flex-direction: row;
}

.image {
    width: 43vw;
    background: rgba(255, 255, 0, 0.432);
}

img {
    width: 100%;
}

.data {
    width: 57vw;
    color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(95, 185, 21, 0.418);
}

.button-edit,
.button-delete {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    background: rgba(0, 128, 0, 0.726);
    border-radius: 5px;
    box-shadow: inset 0 0 5px black;
}

.button-edit:hover,
.button-delete:hover {
    background-color: rgba(255, 248, 220, 0.582);
}

.button-delete {
    background: rgba(255, 0, 0, 0.575);
}