/*Pagina de proyectos*/

.container {
    display: flex;
    flex-direction: column;
}

.project a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.project a:hover {
    padding-bottom: 120px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.555), inset 0 0 50px rgba(255, 255, 255, 0.884);
    background-color: rgba(0, 225, 241, 0.075);
}

.project img {
    width: 150px;
    height: 14vh;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(112, 27, 105);
}

.project {
    display: inline-flex;
    list-style: none;
    color: azure;
    text-align: center;
    text-shadow: 0 0 3px rgb(228, 137, 27);
}


/* 
h2 {
    display: flex;
    align-self: center;
    color: aliceblue;
    font-size: 55px;
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px rgb(35, 190, 190);
}

.project p {
    margin-bottom: 5px;
} */